<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TokyoStock.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TokyoStock.WebApp.styles.css" asp-append-version="true" />
    <link href="~/css/layout.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <aside class="col-2 shadow-right shadow-r p-0">
                <header>
                    <h4 class="pt-3 pb-3 text-center">Tokyo Stock</h4>

                    <div class="accordion accordion-flush" id="accordionFlushExample">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Compras
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <nav class="nav flex-column">
                                        <a class="nav-link active" aria-current="page" href="#">Listar</a>
                                        <a class="nav-link" href="#">Registrar</a>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Ventas
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <nav class="nav flex-column">
                                        <a class="nav-link active" aria-current="page" href="#">Listar</a>
                                        <a class="nav-link" href="#">Registrar</a>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>

                </header>
            </aside>

            <main role="main" class="col-10 mt-4">
                @RenderBody()
            </main>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
